/*body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;


}

.slideshow {
    position: relative;
}

.slideshow picture {
    width: 100vw;
    height: 100vh;


}
.slideshow picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  

}

.navButton {
    position: absolute;
    font-size: 50px;
    color: bisque;
}

*/
body {
    margin: 0;
  }
  .slideshow {
    position: relative;
    height: 70vw;
    overflow: hidden;
  }

  .navButton {
    color: white;
    opacity: 0;
    font-size: 50px;
    position: absolute;
    top: calc(50% - 25px);
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.4s;
  }

  .slideshow:hover .navButton {
    opacity: 1;
  }

  #leftButton {
  }

  #rightButton {
    right: 0;
  }

  .slideshow img {
    width: 100vw;
    height: 70vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
    transition: opacity 0.4s;
  }

  @media screen and (hover: none) {
    .navButton {
      opacity: 1;
    }
  }