body{
    text-align: center;
    padding: 0;
    margin: 0;
}
#canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
#Gover {
    position: relative;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #d9fefd;
}

img {
    width: 100%;
}
#hedgehog {
    display: none;

}
#mole {
    display: none;

}

#score {
    font-size: 2em;
 
}
#timeleft {
    font-size: 3em;
 
}